{% include 'common/navLeft.html.twig' %}
{% include 'common/navTop.html.twig' %}
{% include 'common/assetsInclude.html.twig' %}
<link href="{{ asset('lib/highlightjs/github.css')}}" rel="stylesheet">
<link href="{{ asset('lib/select2/css/select2.min.css') }}" rel="stylesheet">
<link href="{{ asset('lib/jquery-toggles/toggles-full.css')}}" rel="stylesheet">
<link href="{{ asset('lib/jt.timepicker/jquery.timepicker.css')}}" rel="stylesheet">
<link href="{{ asset('lib/spectrum/spectrum.css')}}" rel="stylesheet">
<link href="{{ asset('lib/bootstrap-tagsinput/bootstrap-tagsinput.css')}}" rel="stylesheet">
<link href="{{ asset('lib/ion.rangeSlider/css/ion.rangeSlider.css')}}" rel="stylesheet">
<link href="{{ asset('lib/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css')}}" rel="stylesheet">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!-- ########## START: MAIN PANEL ########## -->
<div class="br-mainpanel br-profile-page">

    <div class="card shadow-base bd-0 rounded-0 widget-4">
        <div class="card-header ht-75">
            <div class="hidden-xs-down">
                <a href="./page-profile.html" class="mg-r-10"><span class="tx-medium">42</span> Films</a>
                <a href="./page-profile.html"><span class="tx-medium">3</span> Groupes</a>
            </div>
            <div class="tx-24 hidden-xs-down">
                <a href="./page-profile.html" class="mg-r-10"><i class="icon ion-ios-email-outline"></i></a>
                <a href="./page-profile.html"><i class="icon ion-more"></i></a>
            </div>
        </div><!-- card-header -->
        {% if guest == false %}
        <div class="card-body">
            <div class="card-profile-img">

                <img src="{{ asset('img/avatars/' ~ app.session.get('avatar')) }}" alt="" />

            </div><!-- card-profile-img -->
            <h4 class="tx-normal tx-roboto tx-white">{{ app.session.get('prenom') }} {{ app.session.get('nom') }}</h4>
            <p class="mg-b-25">Amateur de film</p>

            <p class="wd-md-500 mg-md-l-auto mg-md-r-auto mg-b-25">Je suis un amateur de film depuis très longtemps.</p>

            <p class="mg-b-0 tx-24">
                <a href="./page-profile.html" class="tx-white-8 mg-r-5"><i class="fa fa-facebook-official"></i></a>
                <a href="./page-profile.html" class="tx-white-8 mg-r-5"><i class="fa fa-twitter"></i></a>
                <a href="./page-profile.html" class="tx-white-8 mg-r-5"><i class="fa fa-pinterest"></i></a>
                <a href="./page-profile.html" class="tx-white-8"><i class="fa fa-instagram"></i></a>
            </p>
        </div><!-- card-body -->
        {% else %}
            <div class="card-body">
                <div class="card-profile-img">

                    <img src="{{ asset('img/avatars/' ~ user.getAvatarUtilisateur()) }}" alt="" />

                </div><!-- card-profile-img -->
                <h4 class="tx-normal tx-roboto tx-white">{{ user.getPrenomUtilisateur() }} {{ user.getNomUtilisateur() }}</h4>
                <p class="mg-b-25">Amateur de film</p>

                <p class="wd-md-500 mg-md-l-auto mg-md-r-auto mg-b-25">Je suis un amateur de film depuis très longtemps.</p>

                <p class="mg-b-0 tx-24">
                    <a href="./page-profile.html" class="tx-white-8 mg-r-5"><i class="fa fa-facebook-official"></i></a>
                    <a href="./page-profile.html" class="tx-white-8 mg-r-5"><i class="fa fa-twitter"></i></a>
                    <a href="./page-profile.html" class="tx-white-8 mg-r-5"><i class="fa fa-pinterest"></i></a>
                    <a href="./page-profile.html" class="tx-white-8"><i class="fa fa-instagram"></i></a>
                </p>
            </div><!-- card-body -->
        {% endif %}
    </div><!-- card -->

    <div class="ht-70 bg-gray-100 pd-x-20 d-flex align-items-center justify-content-center shadow-base">
        <ul class="nav nav-outline active-info align-items-center flex-row" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#mediathequeperso" role="tab">Ma Médiathèque</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#mediathequegrp" role="tab">Médiathèques de groupe</a></li>
            {% if guest == false %}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab">Groupes</a></li>
            <li class="nav-item hidden-xs-down"><a class="nav-link" data-toggle="tab" href="#settings" role="tab">Paramètres</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="tab-content br-profile-body">
        <div class="tab-pane fade active show" id="mediathequeperso">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-white pd-y-12 tx-center mg-t-15 mg-xs-t-30 shadow-base rounded">

                    </div>
                </div><!-- col-lg-8 -->
                <div class="col-lg-4 mg-t-30 mg-lg-t-0">
                    <div class="card pd-20 pd-xs-30 shadow-base bd-0">
                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-25">Contact Information</h6>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Phone Number</label>
                        <p class="tx-info mg-b-25">+1 234 567 8910</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Email Address</label>
                        <p class="tx-inverse mg-b-25">{{ app.session.get('email') }}</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Home Address</label>
                        <p class="tx-inverse mg-b-25">1352 Science Center Drive Terreton, ID 83450 </p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Office Address</label>
                        <p class="tx-inverse mg-b-50">1352 Science Center Drive Terreton, ID 83450 </p>

                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-25">Other Information</h6>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Degree</label>
                        <p class="tx-inverse mg-b-25">Bachelor of Science in Computer Science</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-5">Skills</label>
                        <ul class="list-unstyled profile-skills">
                            <li><span>html</span></li>
                            <li><span>css</span></li>
                            <li><span>javascript</span></li>
                            <li><span>php</span></li>
                            <li><span>photoshop</span></li>
                            <li><span>java</span></li>
                            <li><span>angular</span></li>
                            <li><span>wordpress</span></li>
                        </ul>
                    </div><!-- card -->


                </div><!-- col-lg-4 -->
            </div><!-- row -->
        </div><!-- tab-pane -->
        <div class="tab-pane fade" id="mediathequegrp">
            <div class="row">
                <div class="col-lg-8">
                    <div class="bg-white pd-y-12 tx-center mg-t-15 mg-xs-t-30 shadow-base rounded">

                    </div>
                </div><!-- col-lg-8 -->
                <div class="col-lg-4 mg-t-30 mg-lg-t-0">
                    <div class="card pd-20 pd-xs-30 shadow-base bd-0">
                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-25">Contact Information</h6>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Phone Number</label>
                        <p class="tx-info mg-b-25">+1 234 567 8910</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Email Address</label>
                        <p class="tx-inverse mg-b-25">{{ app.session.get('email') }}</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Home Address</label>
                        <p class="tx-inverse mg-b-25">1352 Science Center Drive Terreton, ID 83450 </p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Office Address</label>
                        <p class="tx-inverse mg-b-50">1352 Science Center Drive Terreton, ID 83450 </p>

                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13 mg-b-25">Other Information</h6>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-2">Degree</label>
                        <p class="tx-inverse mg-b-25">Bachelor of Science in Computer Science</p>

                        <label class="tx-10 tx-uppercase tx-mont tx-medium tx-spacing-1 mg-b-5">Skills</label>
                        <ul class="list-unstyled profile-skills">
                            <li><span>html</span></li>
                            <li><span>css</span></li>
                            <li><span>javascript</span></li>
                            <li><span>php</span></li>
                            <li><span>photoshop</span></li>
                            <li><span>java</span></li>
                            <li><span>angular</span></li>
                            <li><span>wordpress</span></li>
                        </ul>
                    </div><!-- card -->


                </div><!-- col-lg-4 -->
            </div><!-- row -->
        </div><!-- tab-pane -->

        {% if guest == false %}
        <div class="tab-pane fade" id="settings">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card pd-20 pd-xs-30 shadow-base bd-0 mg-t-30">
                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-14 mg-b-30">Mon profil</h6>

                        {{ form_start(formAvatar) }}

                        <h7>Statut de la médiathèque</h7>
                        Un test:
                        {{ form_widget(formAvatar.status_mediatheque) }}
                        <h8>Avatar</h8>

                        <div class="form-group">
                            {{ form_widget(formAvatar.avatar_utilisateur) }}
                        </div>
                        <div id="preview-avatar" class="form-group">
                            <p>Preview:</p>
                            <img src="#" id="preview-image" style="width: 100px;height: 100px;"/>
                        </div>
                        <div class="form-group">
                            {{ form_widget(formAvatar.valider) }}
                        </div>
                        {{ form_end(formAvatar) }}
                    </div><!-- card -->
                </div><!-- col-lg-8 -->

            </div><!-- row -->
        </div><!-- tab-pane -->
        {% endif %}
    </div><!-- br-pagebody -->

</div><!-- br-mainpanel -->
<!-- ########## END: MAIN PANEL ########## -->
{% include 'common/footer.html.twig' %}
<script src="{{ asset('lib/highlightjs/highlight.pack.js')}}"></script>
<script src="{{ asset('lib/select2/js/select2.min.js')}}"></script>
<script src="{{ asset('lib/jquery-toggles/toggles.min.js')}}"></script>
<script src="{{ asset('lib/jt.timepicker/jquery.timepicker.js')}}"></script>
<script src="{{ asset('lib/spectrum/spectrum.js')}}"></script>
<script src="{{ asset('lib/jquery.maskedinput/jquery.maskedinput.js')}}"></script>
<script src="{{ asset('lib/bootstrap-tagsinput/bootstrap-tagsinput.js')}}"></script>
<script src="{{ asset('lib/ion.rangeSlider/js/ion.rangeSlider.min.js')}}"></script>

<script>

    $(window).load(function() {
        $("#preview-avatar").hide();
    });

    document.getElementsByClassName("active")[3].innerHTML;

    function previewAvatar(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
            $("#preview-avatar").show();
        }
    }


    $(function(){
        'use strict'

        // Toggles
        $('.toggle').toggles({
            on: true,
            height: 26
        });

        // Input Masks
        $('#dateMask').mask('99/99/9999');
        $('#phoneMask').mask('(999) 999-9999');
        $('#ssnMask').mask('999-99-9999');

        // Datepicker
        $('.fc-datepicker').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true
        });

        $('#datepickerNoOfMonths').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            numberOfMonths: 2
        });

        // Time Picker
        $('#tpBasic').timepicker();
        $('#tp2').timepicker({'scrollDefault': 'now'});
        $('#tp3').timepicker();

        $('#setTimeButton').on('click', function (){
            $('#tp3').timepicker('setTime', new Date());
        });

        // Color picker
        $('#colorpicker').spectrum({
            color: '#17A2B8'
        });

        $('#showAlpha').spectrum({
            color: 'rgba(23,162,184,0.5)',
            showAlpha: true
        });

        $('#showPaletteOnly').spectrum({
            showPaletteOnly: true,
            showPalette:true,
            color: '#DC3545',
            palette: [
                ['#1D2939', '#fff', '#0866C6','#23BF08', '#F49917'],
                ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
            ]
        });


        // Rangeslider
        if($().ionRangeSlider) {
            $('#rangeslider1').ionRangeSlider();

            $('#rangeslider2').ionRangeSlider({
                min: 100,
                max: 1000,
                from: 550
            });

            $('#rangeslider3').ionRangeSlider({
                type: 'double',
                grid: true,
                min: 0,
                max: 1000,
                from: 200,
                to: 800,
                prefix: '$'
            });

            $('#rangeslider4').ionRangeSlider({
                type: 'double',
                grid: true,
                min: -1000,
                max: 1000,
                from: -500,
                to: 500,
                step: 250
            });
        }

    });
</script>
