<body>
{% include 'common/navLeft.html.twig' %}
{% include 'common/navTop.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="br-mainpanel">
    <div class="container col-lg-12">
        {% for film in films %}
            <div class="col-lg-4">
            <h4>{{ film.titre }}</h4>
            <img src="{{ film.poster }}"/><br><br>
            <b>Realisateur : </b>{{ film.realisateur }}<br><br>
            <b>Genre : </b>{{ film.genre }}<br><br>
            <b>Synopsis : </b>{{ film.intrigue }}
            <hr>
        </div>
        {%  endfor %}

    </div>
</div>
</body>
{% include 'common/footer.html.twig' %}
