<body>
{% include 'common/navLeft.html.twig' %}
{% include 'common/assetsInclude.html.twig' %}
{% include 'common/navTop.html.twig' %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="br-mainpanel">
    <div class="d-sm-flex align-items-center pd-y-20 pd-x-30 bg-gray-200">
        <div class="tab-pane" id="settings">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card pd-20 pd-xs-30 shadow-base bd-0 mg-t-30">
                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-14 mg-b-30">Mes groupes</h6>
                        <table class="table">
                            <tbody>

                            {% if mesgroupe == "aucun groupe pour le moment" %}
                                <tr>
                                    <td>Aucuns groupe pour le moment
                                    </td>
                                </tr>
                            {% else %}
                                {% for Groupe in mesgroupe %}
                                    <tr>
                                        <td><img class="img-fluid rounded-circle img-grp"
                                                 src="/img/groups/{{ Groupe.getImageGroupe() }}"></td>
                                        <td><span class="titre-grp">{{ Groupe.getNomGroupe() }}</span></td>
                                        <td>
                                            <button data-toggle="modal" data-target="#modaldemo5"
                                                    class="btn btn-primary btn-click">Voir
                                            </button>
                                            <a href="#">
                                                <button class="btn btn-warning btn-click">Administrer</button>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div><!-- card -->
                </div><!-- col-lg-8 -->
                <div class="col-lg-4 mg-t-30 mg-lg-t-0">
                    <div class="card pd-20 pd-xs-30 shadow-base bd-0 mg-t-30">
                        <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-14 mg-b-30">Options</h6>
                        <div class="row row-xs mg-b-15">
                            <a class="btn btn-success col-12 btn-space" data-toggle="modal" data-target="#modaldemo3"
                               style="cursor: hand;color: white;">Créer un groupe</a>
                            <hr/>
                            <a class="btn btn-warning col-12" data-toggle="modal" data-target="#modaldemo4"
                               style="cursor: hand">Rejoindre un groupe</a>
                        </div><!-- row -->
                        <div class="d-flex alig-items-center justify-content-between">
                            <h6 class="tx-inverse tx-14 mg-b-0">Groupes suggérés</h6>
                            <span class="tx-12">X Groupes</span>
                        </div><!-- d-flex -->

                        <hr/>

                        <div class="row row-xs mg-b-15">
                            <div class="col"><img src="../img/img36.jpg" class="img-fluid" alt=""/></div>
                            <div class="col"><img src="../img/img37.jpg" class="img-fluid" alt=""/></div>
                            <div class="col">
                                <div class="overlay">
                                    <img src="../img/img38.jpg" class="img-fluid" alt=""/>
                                    <div class="overlay-body bg-black-5 d-flex align-items-center justify-content-center">
                                        <span class="tx-white tx-12">20+ more</span>
                                    </div><!-- overlay-body -->
                                </div><!-- overlay -->
                            </div>
                        </div><!-- row -->
                        <div class="row row-xs mg-b-15">
                            <div class="col"><img src="../../../via.placeholder.com/300x300/0866C6/FFF"
                                                  class="img-fluid" alt=""/></div>
                            <div class="col"><img src="../../../via.placeholder.com/300x300/DC3545/FFF"
                                                  class="img-fluid" alt=""/></div>
                            <div class="col">
                                <div class="overlay">
                                    <img src="../../../via.placeholder.com/300x300/0866C6/FFF" class="img-fluid"
                                         alt=""/>
                                    <div class="overlay-body bg-black-5 d-flex align-items-center justify-content-center">
                                        <span class="tx-white tx-12">20+ more</span>
                                    </div><!-- overlay-body -->
                                </div><!-- overlay -->
                            </div>
                        </div><!-- row -->

                    </div><!-- card -->
                </div><!-- col-lg-4 -->
            </div><!-- row -->
        </div><!-- tab-pane -->
    </div>
</div>

<div id="modaldemo3" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Création de groupe</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.nom_groupe) }}
                    {{ form_errors(form.nom_groupe) }}

                    <!-- form-group -->

                    {{ form_widget(form.enregistrement) }}

                    {{ form_end(form) }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary tx-size-xs" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- modal-body -->
            </div>
        </div><!-- modal-dialog -->
    </div>
</div>

<div id="modaldemo4" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
                <div class="card pd-20 pd-xs-30 shadow-base bd-0 mg-t-30">
                    <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Rejoindre un groupe</h6>
                    <form method="post" action="groups">
                        <table class="table">
                            <tbody>
                            {% for Groupe in lesGroupes %}
                                <tr>
                                    <td><img class="img-fluid rounded-circle img-grp"
                                             src="/img/groups/{{ Groupe.getImageGroupe() }}"></td>
                                    <td><span class="titre-grp">{{ Groupe.getNomGroupe() }}</span></td>
                                    <td><a href="#">
                                            <button class="btn btn-primary btn-click" name="id"
                                                    value="{{ Groupe.getId() }}">Rejoindre
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary tx-size-xs" data-dismiss="modal">Close
                                </button>
                            </div>
                        </table>
                    </form>
                </div>
                !-- modal-body -->
            </div>
        </div><!-- modal-dialog -->
    </div>
</div>


<div id="modaldemo5" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-header pd-x-20">
                <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Vois les films</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_widget(form.nom_groupe) }}
                    {{ form_errors(form.nom_groupe) }}

                    <!-- form-group -->

                    {{ form_widget(form.enregistrement) }}

                    {{ form_end(form) }}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary tx-size-xs" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- modal-body -->
            </div>
        </div><!-- modal-dialog -->
    </div>
</div>

</body>
{% include 'common/footer.html.twig' %}

<script>
    $('#wizard6').steps({
        headerTag: 'h3',
        bodyTag: 'section',
        autoFocus: true,
        titleTemplate: '<span class="number">#index#</span> <span class="title">#title#</span>',
        cssClass: 'wizard wizard-style-2'
    });
</script>