<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels" />
    <meta name="twitter:creator" content="@themepixels" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Bracket Plus" />
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard." />
    <meta name="twitter:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png" />

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracketplus" />
    <meta property="og:title" content="Bracket Plus" />
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard." />

    <meta property="og:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png" />
    <meta property="og:image:secure_url" content="http://themepixels.me/bracketplus/img/bracketplus-social.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard." />
    <meta name="author" content="ThemePixels" />

    <title>Bracket Plus Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="{{ asset('lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ asset('lib/Ionicons/css/ionicons.css')}}" rel="stylesheet" />
    <link href="{{ asset('lib/select2/css/select2.min.css') }}" rel="stylesheet" />

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ asset('css/bracket.css') }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v" style="background: url('https://wallpapersite.com/images/wallpapers/passengers-5120x2880-2016-jennifer-lawrence-chris-pratt-5k-4004.jpg') center fixed;-webkit-background-size: cover;background-size: cover;">

    <div class="login-wrapper wd-300 wd-xs-400 pd-25 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> My <span class="tx-info">TEK</span> <span class="tx-normal">]</span></div>
        <div class="tx-center mg-b-40">Un slogan à mettre ici.</div>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form.firstname) }}
        </div><!-- form-group -->
        <div class="form-group">
            {{ form_widget(form.lastname) }}
        </div><!-- form-group -->
        <div class="form-group">
            {{ form_widget(form.mail) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.password) }}
        </div>
        <!-- form-group -->

        <div class="form-group tx-12">En cliquant sur le bouton ci-dessous, vous acceptez notre politique ainsi que les termes et conditions de notre site internet.</div>
        {{ form_widget(form.enregistrement) }}
        {{ form_end(form) }}
        <div class="mg-t-40 tx-center">Déjà membre ? <a href="./login" class="tx-info">Connexion</a></div>
    </div><!-- login-wrapper -->
</div><!-- d-flex -->

<script src="{{ asset('lib/jquery/jquery.js') }}"></script>
<script src="{{ asset('lib/popper.js/popper.js') }}"></script>
<script src="{{ asset('lib/bootstrap/bootstrap.js') }}"></script>
<script src="{{ asset('lib/select2/js/select2.min.js') }}"></script>
<script>
    $(function(){
        'use strict';

        $('.select2').select2({
            minimumResultsForSearch: Infinity
        });
    });
</script>

</body>
</html>
