{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ titre }}</h1>
    <ul>
        <li><img src="{{ poster }}"/></li>
        <li><b>Année de sortie :</b> {{ year }}</li>
        <li><b>Age minimum conseillé :</b>{{ pegi }}</li>
        <li><b>Realisation :</b> {{ realisation }}</li>
        <li><b>Durée :</b> {{ duree }}</li>
        <li><b>Genre :</b> {{ genre }}</li>
        <li><b>Realisateur(s) :</b> {{ realisateur }}</li>
        <li><b>Scenariste(s) :</b> {{ scenariste }}</li>
        <li><b>Acteur(s) :</b> {{ acteur }}</li>
        <li><b>Synopsis :</b> {{ intrigue }}</li>
        <li><b>Langue :</b> {{ langue }}</li>
        <li><b>Pays :</b> {{ pays }}</li>
    </ul>
</div>
{% endblock %}
