<!-- vendor css -->
<link href="{{ asset('lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
<link href="{{ asset('lib/Ionicons/css/ionicons.css') }}" rel="stylesheet" />
<link href="{{ asset('lib/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" />
<link href="{{ asset('lib/jquery-switchbutton/jquery.switchButton.css') }}" rel="stylesheet" />
<link href="{{ asset('lib/rickshaw/rickshaw.min.css') }}" rel="stylesheet" />
<link href="{{ asset('lib/select2/css/select2.min.css') }}" rel="stylesheet" />

<!-- Bracket CSS -->
<link rel="stylesheet" href="{{ asset('css/bracket.css') }}" />
<link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<!-- ########## START: LEFT PANEL ########## -->
<div class="loader"></div>
<div class="br-logo"><a href="./home"><span>[</span>My <i>TEK</i><span>]</span></a></div>
<div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
    <div class="br-sideleft-menu">
        <a href="./index.html" class="br-menu-link active">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-ios-film tx-22"></i>
                <span class="menu-item-label">Les films</span>
            </div><!-- menu-item -->
        </a><!-- br-menu-link -->
    </div>
</div>
<br />
